In [14]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
    'Empresa ': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
    'Meses': [8, 9, 4, 5, 3, 6, 8, 6, 6, 8, 5, 5, 6, 4, 4],
    'Setor': ['C','C','I','I','I','C','C','I','I','C','C','I','C','I','I'],
    'Tamanho': ['G', 'M', 'G', 'M', 'M', 'P', 'G', 'M', 'P', 'M', 'P', 'P', 'M', 'M', 'G']
}

df_empresas = pd.DataFrame(data)
df_empresas

    Empresa   Meses Setor Tamanho
0          1      8     C       G
1          2      9     C       M
2          3      4     I       G
3          4      5     I       M
4          5      3     I       M
5          6      6     C       P
6          7      8     C       G
7          8      6     I       M
8          9      6     I       P
9         10      8     C       M
10        11      5     C       P
11        12      5     I       P
12        13      6     C       M
13        14      4     I       M
14        15      4     I       G

In [23]:
# a) Divida as empresas em dois grupos: comércio (C) e indústria (I). Compare os grupos em 
# relação à média e à mediana do número de meses com crescimento.

df_setor = df_empresas.groupby('Setor')

media = df_setor['Meses'].mean()
mediana = df_setor['Meses'].median()

print("Média de meses com crescimento por setor:\n", media)
print("\nMediana de meses com crescimento por setor:\n", mediana)

Média de meses com crescimento por setor:
 Setor
C    7.142857
I    4.625000
Name: Meses, dtype: float64

Mediana de meses com crescimento por setor:
 Setor
C    8.0
I    4.5
Name: Meses, dtype: float64

In [25]:
# b) Calcule o desvio padrão e a variância para os dois grupos. Qual dos grupos é mais
# homogênio em relação ao número de meses com crescimento?

variancia = df_setor['Meses'].var()
desvio_padrao = df_setor['Meses'].std()

print("Variância:\n", variancia)
print("\nDesvio padrão:\n", desvio_padrao)

Variância:
 Setor
C    2.142857
I    1.125000
Name: Meses, dtype: float64

Desvio padrão:
 Setor
C    1.46385
I    1.06066
Name: Meses, dtype: float64

<h4>Resposta:</h4>
<p>Como demonstrado as empresas do setor I (Indústria) possuem uma taxa de dispersão menor que as empresas do setor C (Comércio), portanto as empresas do setor I possuem uma taxa de crescimento em meses mais homogênea que as empresas do grupo C.
</p>

<h4>Pergunta</h4>
<p>a) Calcule a média, mediana, desvio padrão e variância do número de meses com
crescimento para os três tamanhos (P, M e G). Compare essas medidas. Com base
nessa análise, você diria que existe relação entre o tamanho da empresa e o número
de meses com crescimento?</p>

In [39]:
df_tamanho = df_empresas.groupby('Tamanho').agg({'Meses': ['mean', 'median', 'std', 'var']})
df_tamanho.columns = ['Media', 'Mediana', 'Desvio Padrao', 'Variancia']
df_tamanho = df_tamanho.reset_index()
df_tamanho

  Tamanho     Media  Mediana  Desvio Padrao  Variancia
0       G  6.000000      6.0       2.309401   5.333333
1       M  5.857143      6.0       2.115701   4.476190
2       P  5.500000      5.5       0.577350   0.333333

<h4>Resposta:</h4>
<p>Como demonstrado a média e a mediana de meses de crescimento das empresas com tamanho G (Grande)
são maiores que para as empresas de tamanho P (Pequeno) e se igualam no quesito mediana com empresas de tamanho M (Médio), agora empresas de tamanho “G” possuem maior desvio padrão e variância que empresas de tamanho “P” mas números bem próximos se comparados com empresas de tamanho “M”.</p>

<p>Postando com base nos dados fornecidos podemos supor que existe uma relação entre o tamanho da empresa e o número de meses em crescimento, mas se faz necessário uma análise mais profunda para termos certeza disso.</p>

<h3>Exercício 2</h3>
<p>O peso (em Kg) de 30 mulheres com 168 cm de altura, segundo a idade (em anos) é
apresentado abaixo:</p>

In [64]:
exe2_dados = {
    'Coluna 1': [55, 58, 60, 77, 70, 65],
    'Coluna 2': [50, 56, 74, 78, 76, 82],
    'Coluna 3': [68, 62, 70, 70, 74, 72],
    'Coluna 4': [65, 65, 78, 72, 83, 82],
    'Coluna 5': [62, 63, 76, 80, 85, 80]
}

df_exe2 = pd.DataFrame(exe2_dados, index=[40,45,50,55,60,65])
df_exe2

    Coluna 1  Coluna 2  Coluna 3  Coluna 4  Coluna 5
40        55        50        68        65        62
45        58        56        62        65        63
50        60        74        70        78        76
55        77        78        70        72        80
60        70        76        74        83        85
65        65        82        72        82        80

<h4>Pergunta</h4>
<p>a) Calcule a média, mediana, desvio padrão e variância para o peso dos seis grupos de
idades analisados.</p>

In [67]:
media_exe2 = df_exe2.mean(axis=1)
mediana_exe2 = df_exe2.median(axis=1)
desvio_padrao_exe2 = df_exe2.std(axis=1)
variancia_exe2 = df_exe2.var(axis=1)

result_exe2 = pd.DataFrame({
    'Media': media_exe2,
    'Mediana': mediana_exe2,
    'Desvio Padrão': desvio_padrao_exe2,
    'Variância': variancia_exe2
})

result_exe2

    Media  Mediana  Desvio Padrão  Variância
40   60.0     62.0       7.382412       54.5
45   60.8     62.0       3.701351       13.7
50   71.6     74.0       7.127412       50.8
55   75.4     77.0       4.219005       17.8
60   77.6     76.0       6.268971       39.3
65   76.2     80.0       7.496666       56.2